@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display : flex;
  justify-content: center;
  align-items: center;
  background: #1B1B1B;
}
/* Button Styling */
button {
  border: 18px solid #3C3C3E;
  border-radius:35px;
  outline: none;
  cursor: pointer;
  width: 310px;
  height: 85px;
  font-family: 'Jockey One', sans-serif;
  font-size: 32px;
  color: black;
  background: #ebebe3;
}
button:hover{
  color:#ebebe3;
  background: #1B1B1B;
}
button:active{
  transform: translate(0,0.2rem);
  box-shadow: 0.3rem 0.6rem #220e24;
}